/** Add css rules here for your application. */

/** Example rules used by the template application (remove for your app) */
body {
    padding-top: 10px !important;
}

.normal-text-field{
    border: 1px solid rgb(204, 204, 204) !important;
}

.error-text-field{
    border: 2px solid red !important;
}

.main-panel {
    height: 300px !important;
    width: 800px !important;
    text-align: center !important;
    /*font-weight: bold;*/
}

/*.checkbox input[type="checkbox"]{*/
    /*float: none !important;*/
/*}*/

.form-horizontal .controls {
    margin-left: 0 !important
}

.form-horizontal .control-group {
    margin-bottom: 0 !important
}

legend {
    margin-bottom: 5px !important;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: #777777;
    margin: 40px 0 70px;
    text-align: center;
}

.button {
    display: block;
    font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
    width: 400px;
}

.dialogVPanel {
    margin: 5px;
}

.serverResponseLabelError {
    color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
    margin: 15px 6px 6px;
}
